{% extends "templates/base.html" %}

{% block content %}

  <ol class="breadcrumb mb-2">
    <li class="breadcrumb-item active">{{title}}</li>
  </ol>
  <div class="row">
    <div class="col-xl-12">

      <div class="card-header">
        Manutenção de Alunos
      </div>
            

      <div class="card-body">
        <div class="">
          <div>
            <p>Dados</p>
          </div>

          <div style="background-color: #f8f9fa">
            <table id="tabAlunos" class="display" style="width:100%">
              <thead>
                <tr>
                  <th>Número</th>
                  <th>Name</th>
                  <th>Age</th>
                  <th>City</th>
                </tr>
              </thead>
              <tbody>               
                {% for reg in registros %}
                  <tr>
                    <td>{{reg.Numero}}</td>
                    <td>{{reg.Name}}</td>
                    <td>{{reg.Age}}</td>
                    <td>{{reg.City}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>

        </div>
      </div>
    </div>
  </div>

  <script>

    window.onload = function () {
      windowOnLoad();
      new DataTable('#tabAlunos');

    };
  </script>

{% endblock %}